/* Estilos para la clase .App (el contenedor principal) */
.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
}
/* Estilos para el componente General */
header {
  background-color: #585896;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

button {
  background-color: #83b7ee;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

.conteiner-general-pronostico{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

}

.sub-conteiner-general-pronostico{
  border: solid;
  border-radius: 13px;
  /* padding: 20px; */
  margin-bottom: 20px;
}

.container-InfoClima{
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tres columnas en cada fila */
  gap: 20px; /* Espacio entre elementos */
}

.sub-container{
  border: solid;
  border-radius: 13px;
  /* padding: 20px; */
}